*{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}
.error{
    color: red;
}
#user-name-label{
    color: white;
}
#user-name-label::before{
    content: "user: ";
    color: white;
}
.buttons{
    text-align: center;
}

