<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4 mt-3">
            <h4>Register Form</h4>
            <form method="post" th:action="@{/user/register/new}" th:object="${userRegisterForm}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter name"
                           th:field="*{formName}" id="formName">
                    <span class="error" th:errors="*{formName}"></span>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp"
                           placeholder="Enter email" th:field="*{email}" id="email">
                    <small id="emailHelp" class="form-text text-primary">We'll never share your email with anyone else.
                    </small>
                    <span class="error" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password"
                           th:field="*{password}" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>