<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user profile</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4 mt-3">
            <div class="custom-card-body">
                <div class="card-header" th:if="${@userContextService.loggedAs}"
                     th:text="${@userContextService.loggedAs}">Header
                </div>
                <div class="card-body">
                    <h5 class="card-title">Profile data:</h5>
                    <p class="card-header" th:text="${userDto.nameDto}" id="nameDto">name</p>
                    <p class="card-header" th:text="${userDto.emailDto}" id="emailDto">email</p>
                </div>
            </div>
            <form class="mt-3" method="get" th:action="@{/user/logout}">
                <input class="btn btn-primary" type="submit" value="Log out">
            </form>
        </div>
    </div>
</div>
</body>
</html>