<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Styles and Scripts</title>
    <th:block th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    </th:block>
</head>
<body>
<th:block th:fragment="navi">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbarTogglerDemo01">
        <div class="nav-item active ml-3" id="user-name-label" th:if="${@userContextService.loggedAs}" th:text="${@userContextService.loggedAs}"></div>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-3">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active mr-3">
                <a class="nav-link" th:href="@{/user/register}" th:unless="${@userContextService.loggedAs}" text="Register">Register</a>
            </li>
            <li class="nav-item active mr-3">
                <a class="nav-link" th:href="@{/user/profile}" th:if="${@userContextService.loggedAs}" text="My Profile">My profile</a>
            </li>
            <li class="nav-item active mr-3">
                <a class="nav-link" th:href="@{/user/login}" th:unless="${@userContextService.loggedAs}" text="Log in">Log in</a>
            </li>
            <li class="nav-item active mr-3">
                <a class="nav-link" th:href="@{/user/logout}" th:if="${@userContextService.loggedAs}" text="Log out">Log out</a>
            </li>
        </ul>
    </div>
</nav>
</th:block>
</body>
</html>
