<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Question</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>

<div th:each="q : ${questions}"><br>
<p th:text="${q.questionBody}">...</p>
<form th:each="a : ${q.answers}" method="post">
<input type="radio" th:text="${a.answerBody}" value="A">...</input><br>
</form>
</div>

</body>
</html>