<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4 mt-3">
               <form method="post" th:action="@{/quiz/challenge}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectCategory">Category</label>
                    </div>
                    <select class="custom-select" id="selectCategory" name="category">
                        <option selected th:value="${cat}">Choose...</option>
                        <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}">cat</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectLanguage">Language</label>
                    </div>
                    <select class="custom-select" id="selectLanguage" name="lang">
                        <option selected th:value="${lang}">Choose...</option>
                        <option th:each="lang : ${languages}" th:value="${lang}" th:text="${lang}">lang</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Start quiz</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6 col-md-4 buttons">
            <form method="get" th:action="@{/quiz/Questions}">
                <input class="btn btn-primary" type="submit" value="few random questions">
            </form>
            <form method="get" th:action="@{/quiz/randomQuestion}">
                <input class="btn btn-primary mt-3" type="submit" value="random question">
            </form>
        </div>
    </div>
</div>
</body>
</html>