<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Question</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>

<p th:text="${question.questionBody}">...</p>
<form th:each="a : ${question.answers}" method="post">
    <input type="radio" th:text=" ${a.answerBody}" th:value="${a.answerNo}"><br>
</form>
<input type="submit" value="Submit">
<input type="submit" value="Next">
<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
</html>