<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>

</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
           <a class="welcome fade-in" th:href="@{/quiz/menu}">Welcome to quiz app - click to start</a>
        </div>
    </div>
</div>
</body>
</html>