<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <th:block th:replace="~{fragments/stylesAndScripts :: head}"></th:block>-->
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>

</head>
<body>
<form method="get" action="/user/register">
    <input type="submit" value="zarejestruj się">
</form>
<form method="get" action="/user/login">
    <input type="submit" value="zaloguj się">
</form>
</body>
</html>